/* definizioni generali */
main {
  overflow-x: hidden;
}

.float_left {
  float: left;
}

#generale {
  width: 100vw;
  height: 100vh;
}
#section_uno {
  width: 100%;
  height: calc(100% - 100px);
}

#section_due {
  width: 100%;
  height: 100px;
  background: green;
}

#col_dx {
  width: 20%;
  height: 100%;
  background: black;
  padding: 50px;
}

#col_sx {
  width: calc(100% - 20%);
  height: 100%;
  background-image: linear-gradient(to bottom right, #2B6032, #060E07);
}

/* navigazione destra */
.parte_superiore {
  height: 90%;
}

.parte_inferiore {
  height: 10%;
}

/* parte superiore */
.cont_flex {
  display: flex;
  flex-direction: column;
}

.parte_superiore a img {
  height: 50px;
  width: auto;
  margin-bottom: 50px;
}

.menu_ {
  color: white;
  filter: opacity(60%);
  padding: 10px 0;
  font-weight: bold;
  font-size: 15pt;
}

.menu_ span {
  color: white;
  padding: 0 20px;
}

.parte_superiore .menu_:hover {
  color: white;
  filter: opacity(85%);
  text-decoration: none;
}

.parte_superiore .menu_:focus {
  filter: opacity(100%);
  text-decoration: none;
  border-left: 4px solid green;
}

.parte_superiore h5 {
  color: grey;
  padding-top: 80px;
  text-transform: uppercase;
  font-size: 12pt;
}

.parte_superiore p {
  color: grey;
  font-size: 10pt;
  font-weight: bold;
  padding-top: 20px;
  text-transform: uppercase;
}

.menu_list {
  color: grey;
  font-size: 10pt;
  font-weight: bold;
}

.menu_list:hover {
  text-decoration: none;
  color: lightgrey;
}
/* parte inferiore */
.parte_inferiore a:first-child {
  border-bottom: 1px gray solid;
}

.parte_inferiore a {
  color: gray;
}
