main  {
  overflow-x: hidden;
}
/* definizioni generali */
.float_left {
  float: left;
}

#generale {
  width: 100%;
  height: 100vh;
}
#section_uno {
  width: 100%;
  height: calc(100% - 100px);
  margin: 0;
  padding: 0;
}

#section_due {
  width: 100%;
  height: 100px;
  background: #282828;
  display: flex;
  flex-direction: row;

}

#col_dx {
  width: 15%;
  height: 100%;
  background: black;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#col_sx {
  width: calc(100% - 15%);
  height: 100%;
  background-image: linear-gradient(to bottom right, #374A56, #060709);
  overflow-y: auto;
}

/* navigazione destra */

/* parte superiore */
.cont_flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.parte_superiore a img {
  height: 40px;
  width: auto;
  margin-bottom: 50px;
}

.menu_ {
  color: white;
  filter: opacity(60%);
  padding: 10px 0;
  font-weight: bold;
  font-size: 11pt;
  text-align: center;
}

.menu_ span {
  color: white;
  padding: 0 20px;
}

.parte_superiore .menu_:hover {
  color: white;
  filter: opacity(85%);
  text-decoration: none;
}

.parte_superiore .menu_:focus {
  filter: opacity(100%);
  text-decoration: none;
  border-left: 4px solid green;
}

.parte_centrale h5 {
  color: grey;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
}

.parte_centrale p {
  color: grey;
  font-size: 8pt;
  font-weight: bold;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.parte_centrale .menu_list {
  color: grey;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}

.menu_list:hover {
  text-decoration: none;
  color: lightgrey;
}
/* parte inferiore */

.impagin_navinf {
  padding-left: 0;
}

.parte_inferiore a {
  color: gray;
}

/* responsive */
.impagina_responsive {
  padding-left: 0;
}



/* parte destra */

/* nav */
.nav_dx {
  width: 60%;
  margin: 0 auto;
}

.music_cont {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.nav_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav_flex li a {
  color: white;
 filter: opacity(65%);
 text-transform: uppercase;
 font-weight: bold;
}

.nav_flex li a:hover {
  color: white;
  filter: opacity(85%);
  text-decoration: none;
}

.nav_flex li a:focus {
  filter: opacity(100%);
  text-decoration: none;
}

.nav_flex li  {
  list-style: none;
  padding-top: 30px;
}


/* scelta musica */
.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.music_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.music_cont h2 {
  color: white;
  padding: 30px 0;
  font-weight: bold;
}

.music_flex a img {
  height: 200px;
  width: auto;
  margin: 50px 5px;
}

.music_flex a {
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

/* parte lettore */
.music_sx {
  width: 25%;
}

#music_play {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.music_cent {
  width: 50%;
}

.music_dx {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
}

.music_dx span {
  color: white;
  width: 5px;
}

.music_dx .orizont_range {
  max-width: 80%;
}

.music_dx p span {
  text-align: center;
}
